{% if include.type=="light" %}
<section class="p-strip--light">
    <div class="row">
      <div class="col-12">
        {{include.para}}
      </div>
    </div>
</section>
{% elsif include.type=="dark" %}
<section class="p-strip--dark">
    <div class="row">
      <div class="col-12">
        {{include.para}}
      </div>
    </div>
</section>
{% elsif include.type=="suru" %}
<section class="p-strip--suru">
    <div class="row u-vertically-center {{include.rowClassName}} ">
      <div class="{{include.colSize}}">
        <h1>{{include.title}}</h1>
        <p>{{include.para}}</p>
        {% if include.button %}
        <button>{{include.button}}</button>
        {% endif %}
      </div>
    </div>
</section>
{% elsif include.type=="suru-top" %}
<section class="p-strip--suru-topped">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1>{{include.title}}</h1>
    </div>
  </div>
</section>
{% endif %}